.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin:0 20px;
}

main {
    background-color: #f5f5f5;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}

form {
    text-align: center;
    padding: 10px auto;
}

.form-content {
    margin: 5px auto;
    width: 60%;
}

.form-container{
    margin: 20px auto;
}

.form-button {
    color: white;
    background-color:blue;
    font-size:14px;
    text-align: center;
    align-items: center;
    height: 40px;
    margin: 10px auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

.form-button:hover {
    background-color: blue;
    cursor: pointer;
}

.login {
    margin-top:30px;
}

.login-text {
    color: gray;
    font-size: 14px;
}

.login-link{
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

footer {
    margin-top: 14px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header__inner {
        margin: 0 auto;
        padding: 20px 15px;
        max-width: 768px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {

        .header__inner {
            margin: 0 auto;
            padding: 20px 5px;
            max-width: 450px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        h2 {
            font-size: 22px;
            font-weight: bold;
            padding-top: 30px;
        }
    }
